.coverage
/.idea/
/.mypy_cache/
/.pybuild/
/.vscode/
/*.egg-info
/.tox/
/cover/
/debian/.debhelper/
/debian/*.debhelper
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/python3-wmfmariadbpy/
/debian/tmp/
/debian/wmfmariadbpy-admin/
/debian/wmfmariadbpy-common/
/debian/wmfmariadbpy/
/venv/
__pycache__
