Source: wmfmariadbpy
Section: utils
Priority: optional
Maintainer: Stephen Shirley <sshirley@wikimedia.org>
Build-Depends: debhelper (>= 10), dh-python, python3-all-dev, python3-setuptools
Standards-Version: 4.1.2
Homepage: https://doc.wikimedia.org/wmfmariadbpy/master
X-Python3-Version: >= 3.5

Package: python3-wmfmariadbpy
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}
Description: Libraries for interacting with WMF's mariadb deployments
 wmfmariadbpy is a set of Python 3 libraries for interacting with and
 maintaining mariadb deployments.

Package: wmfmariadbpy-common
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-wmfmariadbpy (= ${binary:Version})
Description: Utilities for maintaining WMF's mariadb deployments
 This package contains the utilities suitable for both admin and database hosts.

Package: wmfmariadbpy-admin
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-wmfmariadbpy (= ${binary:Version})
Breaks: wmfmariadbpy (<< 0.2)
Replaces: wmfmariadbpy (<< 0.2)
Description: Utilities for maintaining WMF's mariadb deployments
 This package contains the utilities suitable for admin hosts.

Package: wmfmariadbpy
Architecture: any
Depends: ${misc:Depends}, wmfmariadbpy-common (= ${binary:Version}), wmfmariadbpy-admin (= ${binary:Version})
Description: Utilities for maintaining WMF's mariadb deployments (metapackage)
 This package will pull in both admin and common utilities.
